body {
    margin: 0;
    padding: 0;
    background-color: grey;
    font-family: sans-serif;
    font-size: 23px;
}
.container {
    width: 1220px;
    margin: 0 auto;
    min-height: 1220px;
    background-image: url('LetItBe.jpg');
    color: white;
    padding-top: 154px;
}
.beatle {
    /* background-color: rgba(255, 0, 0, 0.61); */
    width: 200px; 
    cursor: pointer; 
}
.beatle .naam {
    opacity: 0;
    text-shadow: 0 0 3px black;
}
.beatle:hover .naam {
    opacity: 1;
}
#john { 
    margin-left: 119px;
    padding-top: 402px;
    padding-left: 270px;
    padding-bottom: 10px;
}
#john .naam {
    margin-left: 100px;
}
#paul {
    margin-left: 605px;
    margin-top: -470px;
    padding-right: 267px;
    padding-top: 402px;
    padding-bottom: 10px;
}
#ringo {
    margin-left: 119px;
    margin-top: 17px;
    padding-top: 10px;
    padding-left: 270px;
    padding-bottom: 400px;
}
#ringo .naam {
    margin-left: 102px;
}
#george {
    margin-left: 605px;
    margin-top: -468px;
    padding-top: 10px;
    padding-bottom: 400px;
    padding-right: 267px;
}
h3, p {
    padding: 0;
    margin: 0;
}
.naam {
    border-left: solid 9px red;
    padding-left: 9px;
}  


